---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	
	heroImage="download (1).jpg"
>
	<p>
		Welcome visitors!
	</p>

	<p>
		
        I'm a curious and creative CSE student from Amrita University who loves to build things—whether it's an web-app, a computer vision experiment, or just an overcomplicated resource sharing forum I’ll probably never use. I thrive on solving problems, breaking things (so I can fix them again), and going down endless rabbit holes of tech and design.
      
    </p>

	<p>
		
        When I'm not coding, you'll probably find me in da gym or getting lost in a good book. I love exploring—both the digital world and the real one—whether it’s by diving into new technologies or just taking a random train ride to nowhere. Oh, and coffee. Lots of coffee.
     
	</p>

	<p>
		
		I also have a deep fascination with history, especially ancient civilizations like the Roman Empire. There's something incredible about how societies evolved, built wonders, and shaped the world we live in today. I can spend hours watching historical documentaries, analyzing paintings from the Renaissance, or just getting lost in the stories of the past. Whether it's the strategy of Roman generals, the mystery behind Da Vinci’s works, or the grandeur of ancient Egypt, I love diving into these worlds and imagining what life was like back then.
     
	
	</p>

	<p></p>
</Layout>
